.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.8rem;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 35rem;
  padding: 1rem;

  &__img {
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 3.2rem;
  }

  &__text {
    margin-top: 2.7rem;
  }
}