.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12rem 0;
  flex-direction: column-reverse;
  text-align: center;


  &__img {
    border-radius: 50%;
    z-index: -1;

    @include respond(phone) {
      width: 31.1rem;
      height: 31.1em;
    }
  }
}

.content-info {
  max-width: 44.5rem;

  @include respond (tablet) {
    margin-top: 6.4rem;
  }

  @include respond (tablet) {
    margin-top: 5.6rem;
  }

  &__text {
    margin: 2.4rem 0 4rem;

    @include respond (tablet) {
      margin: 4rem 0;
    }
    @include respond (tablet) {
      margin: 3.2rem 0;
    }
  }
}